# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Javascript

Some of the commonly used libraries used by Data Scientists include:
1) Pandas
2) Numpy
3) Plotly
4) Scikit Learn

| Data Science Tools      |
| ----------------------  |
| Tablaeu        |
| Apache Spark   |
| Informatica    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Isaac Waweru Kariithi